<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <context:annotation-config/>
    <!--=============================xml configuration========================================-->
    <!--<bean class="ru.reeson2003.diystore.model.samples.SpringTestXmlConfig" name="springTest">-->
        <!--<property name="productManager" ref="inMemoryProductManager"/>-->
        <!--&lt;!&ndash;<property name="productManager" ref="productsContainer"/>&ndash;&gt;-->
        <!--<property name="messageManager" ref="inMemoryMessageManager"/>-->
    <!--</bean>-->
    <!--<bean class="ru.reeson2003.diystore.model.service.in_memory_manager.InMemoryProductManager" name="inMemoryProductManager"/>-->
    <!--<bean class="ru.reeson2003.diystore.model.service.in_memory_manager.InMemoryMessageManager" name="inMemoryMessageManager"/>-->
    <!--<bean class="ru.reeson2003.diystore.model.service.ProductsContainer" name="productsContainer"/>-->
    <!--=============================xml configuration========================================-->

    <!--=============================annotation configuration=================================-->
    <bean class="ru.reeson2003.diystore.model.samples.SpringAnnotationTest" name="springTest"/>
    <!--<bean class="ru.reeson2003.diystore.model.service.in_memory_manager.InMemoryProductManager" name="productManager"/>-->
    <bean class="ru.reeson2003.diystore.model.service.ProductsContainer" name="productManager"/>
    <bean class="ru.reeson2003.diystore.model.service.in_memory_manager.InMemoryMessageManager"/>
    <!--=============================annotation configuration==================================-->
</beans>